PresSoins/Resources/schema_jeu_essai.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dossiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dossier" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nom" />
              <xs:element type="xs:string" name="prenom" />
              <xs:element name="datenaissance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="yyyy">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="[0-9]{4}" />
                          <xs:minInclusive value="0" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="mm">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="[0-9]{1,2}" />
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="12" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dd">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="[0-9]{1,2}" />
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="31" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="prestations" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="prestation" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="libelle" />
                          <xs:element name="dateprestation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="yyyy">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="[0-9]{4}" />
                                      <xs:minInclusive value="0" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="mm">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="[0-9]{1,2}" />
                                      <xs:minInclusive value="0" />
                                      <xs:maxInclusive value="12" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="dd">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="[0-9]{1,2}" />
                                      <xs:minInclusive value="0" />
                                      <xs:maxInclusive value="31" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="hh">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="[0-9]{1,2}" />
                                      <xs:minInclusive value="0" />
                                      <xs:maxInclusive value="24" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="mi">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="[0-9]{1,2}" />
                                      <xs:minInclusive value="0" />
                                      <xs:maxInclusive value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="intervenant">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="nomintervenant" />
                                <xs:element type="xs:string" name="prenomintervenant" />
                                <xs:element type="xs:string" name="specialite" minOccurs="0" />
                                <xs:element type="xs:string" name="adresse" minOccurs="0" />
                                <xs:element type="xs:string" name="tel" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>